* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #1c1c1c;
    background: url("../images/dark-honeycomb.png");
}


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

h1 {
    padding-bottom: 20px;
    color: #7a3b2e;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #bd5734;
}

h2 {
    font-size: 22px;
}


#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #454140;
    border-bottom: 2px solid #bd5734;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #454140;
    text-align: center;
    text-decoration: none;
    background: #bd5734;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #777777;
    text-decoration: none;
    border-left: 1px solid #777777;
}

nav a:first-child {
    border-left: 0 none;
}

a:hover {
    background-color: #a79e84;
    color: #454140;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 3px;

}

footer {
    padding: 30px;
    clear: both;
    font-size: 12px;
    color: #777777;
    text-align: center;
    background: #454140;
    border-top: 8px solid #bd5734;
    height: 50px;
}


#main-container {
    padding-top: 130px;
    min-height: calc(100vh-70px);
}

.main-section {
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #a79e84;
    border: 2px solid #bd5734;
}

.headshot {
    float: left;
    margin-right: 15px;   
}

.headshot img {
    border: 2px solid #bd5734; 
}



@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
    /* .banner { */
        position: static;
    }

    /* .container { */
        width: 285px;
        margin: 0;
        
        
    }

}